body {
    justify-content: center;
    align-content: center;
    align-items: center;
}



header {
    width: 100%;
    align-items: center;
}

.centered {
    justify-content: center;
    justify-self: center;
    text-align: center;
}

article{
    padding-top : 75px;
}

.carousel{
    padding-top : 75px;
}

.container {
    align-content: center;
    justify-content: center;
    align-self: center;
    height: max-content;
    width: auto;
}

div iframe{
    text-align: center;
    justify-content: center ;
    align-items: center;
    align-content: center;
}

.box {
    align-content: center;
    
    padding: 5px;
    margin: 5px;

    justify-content: center;


}

.app {}

.specialtitle {
    font-family: 'DotGothic16', sans-serif;
    font-size: 30px;
}