body {
    justify-content: center;
    align-content: center;
    align-items: center
}

header {
    width: 100%;
    align-items: center
}

iframe {
    padding: 5px
}

.button {
    background-color: #21f30d
}


.centered {
    justify-content: center!important;
    justify-self: center!important;
    text-align: center!important;
    align-self: center!important;
    align-items: center!important
}

#mc_embed_signup form {
    justify-content: center!important;
    justify-self: center!important;
    text-align: center!important;
    align-self: center!important
}

article {
    padding-top: 75px
}

object {
    width: 800px;
    height: 800px
}

.carousel {
    padding-top: 75px
}

.proposenewsletter:hover {
    visibility: visible
}

.container {
    align-content: center;
    justify-content: center;
    align-self: center;
    height: max-content;
    width: auto
}

iframe {
    text-align: center;
    justify-content: center;
    display: inline-block
}

.box {
    align-content: center;
    padding: 5px;
    margin: 5px;
    justify-content: center
}

.specialtitle {
    font-family: DotGothic16, sans-serif;
    font-size: 30px
}